<a href="https://colab.research.google.com/github/JoyDantas/Estudos_Colab/blob/main/2_aula_ocean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Para formatação de string, incluimos o **f** antes de começar o texto com tudo entre **' '** e a variavel em **{}**. 

# O valor formatado fica entre {} e o que deve ser concatenado (formatado) fica antes do f.

Para concatenar valores utilizamos o +, pórem só conseguimos concatenar variaveis iguais, string e string, numeric e numeric.

In [9]:
num = '50'

In [10]:
type(num)

str

In [11]:
teste_conver = float(num)

In [12]:
type(teste_conver)

float

In [14]:
## tudo que fazemos com string 

nome = 'joys'
sobrenome = 'dantas'
num = '50.5'
type(nome) # tipo de dado
len(sobrenome) # tamanho da string
print(nome + sobrenome) #concatenação

joysdantas

In [15]:
## Sustituindo uma substring por outra string com o replace 

meu_nome = nome.replace('joys','Joys')
print(meu_nome)

Joys

In [24]:
print(nome.count(nome)) #conta
print(len(nome)) ## tamanho da string
print(nome.upper())## tudo maiusculo
print(nome.capitalize()) # primeira linha

1
4
JOYS
Joys

# Operadores aritméticos

In [26]:
print( 5 + 5) # soma
print( 85 - 70)# subtração 
print( 8 * 2) # multiplicação 
print( 5 / 2) #divisão 

print (4**4) # potenciação 
print( 5 // 2) # retorna sempre um numero inteiro 
print(6 % 2) # retorna o resto da divisao

10
15
16
2.5
256
2
0

In [27]:
import math ## biblioteca para operações matematicas 
numero = 9 
print(math.sqrt(numero))

3.0

# Função **Input**

In [33]:
  ## queremos q o usuario entre com dados na nossa aplicação e cada linguagem tem sua forma, mas geralmente utilizamos a função input()

  nome_entrada = input('Digite o seu nome:')
  idade = int(input("Digite sua idade")) ## fornçando a pessoa a entrar com um valor inteiro

Digite o seu nome:Joys
Digite sua idade25

In [32]:
print(nome_entrada)

Joys Dantas


# Exercício: 
# Escreva um programa no qual o usuário entre com o valor do carro e o valor do 
# IPVA a ser pago seja impresso.

In [39]:
valor_carro = float(input('Digite o valor do Carro: R$'))
print(f'O valor a ser pago será de: R$ {valor_carro*0.04}')

Digite o valor do Carro: R$25000
O valor a ser pago será de: R$ 1000.0

# Laços, repetições e operadores condicionais

In [47]:
idade = int(input('Digite sua idade: \n'))
amigo = str(input('Você é amigo do dono: \n'))
amigo = amigo.upper()

if idade > 18 or amigo == 'SIM': 
  print('Pode entrar!')
else:
  print('Vá para a casa')

Digite sua idade:
17
Você é amigo do dono:
sim
Pode entrar!

# Mais operadores

In [48]:
a = 1 
a += 10 
print(a)

11

In [50]:
b = 5 
b-= 3
print(b)

2

In [51]:
c = 10 
c *=2
print(c)

20

# Operadores de Comparação

In [58]:
print( 7 == 7 ) # representa igualdade
print('texto'=='texto')
print('Texto'=='texto')

print(21>20) # maior
print(8>9) # maior 

print(20<10) # menor
print(10<15) # menor

True
True
False
True
False
False
True

# Import bibliotecas

In [79]:
from math import sqrt 
print(sqrt(25))

from datetime import datetime, timezone
from datetime import date
from dateutil import tz
import time

data_hoje = date(year=2021, month=9, day=21)
print(data_hoje)

print(datetime.today()) #data atual
print(datetime.now()) # agora 
print(datetime.now().isoformat())

print(datetime.today().strftime('%d-%m-%y'))# Alterando o formato da data
print(datetime.today().strftime('%Y-%m-%d %H:%M')) # Tirando os milesegundos
print(datetime.today().strftime('%A, %B %d, %Y %H:%M:%S'))# Incluindo os dias da semana 
print(datetime.today(), tz.tzlocal()) # Data atual

5.0
2021-09-21
2021-09-21 15:03:26.222022
2021-09-21 15:03:26.222148
2021-09-21T15:03:26.222244
21-09-21
2021-09-21 15:03
Tuesday, September 21, 2021 15:03:26
2021-09-21 15:03:26.222661 tzlocal()