<a href="https://colab.research.google.com/github/JoyDantas/Estudos_Colab/blob/main/consorcio_maio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
!pip install --upgrade gspread ## atualizando o pacote

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
consorcio_mai = gc.open("Itaú Institucional | Consórcio | 2021 (Mai-Julho)")

In [ ]:
consorcio_wkb = consorcio_mai.worksheet('Workbook')

In [ ]:
## transformando e data frame 

df_consorcio = pd.DataFrame(consorcio_wkb.get_all_records())

In [ ]:
# selecionando colunas

df_consorcio_selecionadas = df_consorcio.filter(['Data', 'Produto', 'Veículo', 'Descrição da Campanha',
                                                 'Formato', 'Investimento', 'Impressões', 'Cliques no link', 'Video Views', 'Views 100%'])

In [ ]:
df_consorcio_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68329 entries, 0 to 68328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   68329 non-null  object
 1   Produto                68329 non-null  object
 2   Veículo                68329 non-null  object
 3   Descrição da Campanha  68329 non-null  object
 4   Formato                68329 non-null  object
 5   Investimento           68329 non-null  object
 6   Impressões             68329 non-null  object
 7   Cliques no link        68329 non-null  object
 8   Video Views            68329 non-null  object
 9   Views 100%             68329 non-null  object
dtypes: object(10)
memory usage: 5.2+ MB

In [ ]:
## trocando formato dos dados

df_consorcio_selecionadas['Impressões'] = pd.to_numeric(df_consorcio_selecionadas['Impressões'])
df_consorcio_selecionadas['Investimento'] = pd.to_numeric(df_consorcio_selecionadas['Investimento'])
df_consorcio_selecionadas['Cliques no link'] = pd.to_numeric(df_consorcio_selecionadas['Cliques no link'])
df_consorcio_selecionadas['Video Views'] = pd.to_numeric(df_consorcio_selecionadas['Video Views'])
df_consorcio_selecionadas['Views 100%'] = pd.to_numeric(df_consorcio_selecionadas['Views 100%'])

In [ ]:
df_consorcio_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68329 entries, 0 to 68328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   68329 non-null  object
 1   Produto                68329 non-null  object
 2   Veículo                68329 non-null  object
 3   Descrição da Campanha  68329 non-null  object
 4   Formato                68329 non-null  object
 5   Investimento           39880 non-null  float64
 6   Impressões             39880 non-null  float64
 7   Cliques no link        39880 non-null  float64
 8   Video Views            39880 non-null  float64
 9   Views 100%             39880 non-null  float64
dtypes: float64(5), object(5)
memory usage: 5.2+ MB

In [ ]:
## selecionando veiculo
selecionadas_g = df_consorcio_selecionadas.loc[(df_consorcio_selecionadas["Veículo"] == "google-ads")]
selecionadas_f = df_consorcio_selecionadas.loc[(df_consorcio_selecionadas["Veículo"] == "facebook")]                                          
selecionadas_i = df_consorcio_selecionadas.loc[(df_consorcio_selecionadas["Veículo"]== "instagram")]
selecionadas_y = df_consorcio_selecionadas.loc[(df_consorcio_selecionadas["Veículo"]== "youtube")]

In [ ]:
concat_g_f_i = [selecionadas_i,selecionadas_g,selecionadas_f,selecionadas_y]
concat_g_f_i= pd.concat(concat_g_f_i)

In [ ]:
concat_g_f_i.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68261 entries, 8745 to 68328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   68261 non-null  object
 1   Produto                68261 non-null  object
 2   Veículo                68261 non-null  object
 3   Descrição da Campanha  68261 non-null  object
 4   Formato                68261 non-null  object
 5   Investimento           39880 non-null  float64
 6   Impressões             39880 non-null  float64
 7   Cliques no link        39880 non-null  float64
 8   Video Views            39880 non-null  float64
 9   Views 100%             39880 non-null  float64
dtypes: float64(5), object(5)
memory usage: 5.7+ MB

In [ ]:
# Tratamento taxonomia
# primeiro selecionando os resultados

concat_g_f_i.loc[(concat_g_f_i["Produto"] == "_nao-se-aplica")]

             Data         Produto  ... Video Views Views 100%
8745   2021-05-31  _nao-se-aplica  ...       611.0      180.0
8746   2021-05-31  _nao-se-aplica  ...       515.0      139.0
8747   2021-05-31  _nao-se-aplica  ...       178.0       40.0
8748   2021-05-31  _nao-se-aplica  ...       207.0       53.0
8749   2021-05-31  _nao-se-aplica  ...       764.0      211.0
...           ...             ...  ...         ...        ...
67834  2021-07-30  _nao-se-aplica  ...      2050.0       21.0
68325  2021-07-31  _nao-se-aplica  ...      9385.0       12.0
68326  2021-07-31  _nao-se-aplica  ...      8207.0       18.0
68327  2021-07-31  _nao-se-aplica  ...      4487.0       11.0
68328  2021-07-31  _nao-se-aplica  ...      3690.0       19.0

[68261 rows x 10 columns]

In [ ]:

# replace produto
conso_tratado = concat_g_f_i.replace(["Produto", "_nao-se-aplica"], "Consórcio")

In [ ]:
# tratando o veículo

conso_tratado = conso_tratado.replace(["Veículo", "facebook"], "Facebook")
conso_tratado = conso_tratado.replace(["Veículo", "google-ads"], "Google-ads")
conso_tratado = conso_tratado.replace(["Veículo", "instagram"], "Instagram")
conso_tratado = conso_tratado.replace(["Veículo", "youtube"], "Youtube")

In [ ]:
conso_tratado.groupby('Veículo').count()

             Data  Produto  ...  Video Views  Views 100%
Veículo                     ...
Facebook     8148     8148  ...         6051        6051
Google-ads  58940    58940  ...        32882       32882
Instagram     467      467  ...          256         256
Youtube       706      706  ...          691         691

[4 rows x 9 columns]

In [ ]:
# exportando para excel 
conso_tratado.to_csv("consorcio_maio.csv",sep='\t',encoding="utf-8")