<a href="https://colab.research.google.com/github/JoyDantas/Estudos_Colab/blob/main/consolida%C3%A7%C3%A3o_itau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cons_nov = pd.read_excel('/content/drive/MyDrive/Kantar/consorcio_nov.xls')
cons_set = pd.read_excel('/content/drive/MyDrive/Kantar/consorcio_set.xls')
cons_ago = pd.read_excel('/content/drive/MyDrive/Kantar/consorcio_agosto.xls')
cons_mai = pd.read_excel('/content/drive/MyDrive/Kantar/consorcio_maio.xls')  
invest_mar = pd.read_excel('/content/drive/MyDrive/Kantar/investimento_mar.xls')
invest_set = pd.read_excel('/content/drive/MyDrive/Kantar/investimento_set.xls')
cred_imob_h = pd.read_excel('/content/drive/MyDrive/Kantar/credito_imobiliario_horizontal.xls')
cred_imob_v = pd.read_excel('/content/drive/MyDrive/Kantar/credito_imobiliario_vertical.xls')
ion = pd.read_excel('/content/drive/MyDrive/Kantar/ion.xls')
asset = pd.read_excel('/content/drive/MyDrive/Kantar/asset.xls')
credicard = pd.read_excel('/content/drive/MyDrive/Kantar/credicard.xls')
itaucard = pd.read_excel('/content/drive/MyDrive/Kantar/itaucard.xls')
isso_mud_o_game = pd.read_excel('/content/drive/MyDrive/Kantar/isso_muda_o_game.xls')
folha = pd.read_excel('/content/drive/MyDrive/Kantar/folha_pagamento.xls')
cartoes = pd.read_excel('/content/drive/MyDrive/Kantar/cartoes.xls')
vai_de_visa = pd.read_excel('/content/drive/MyDrive/Kantar/vai_de_visa.xls')
rede = pd.read_excel('/content/drive/MyDrive/Kantar/rede.xls')

In [ ]:
concat_frames = [cons_nov,cons_set, cons_ago,cons_mai,invest_mar,invest_set,cred_imob_h,cred_imob_v,ion,asset,credicard,itaucard,isso_mud_o_game,folha,cartoes,vai_de_visa,rede]

In [ ]:
consolidado_kantar = pd.concat(concat_frames)

In [ ]:
## conferindo formatos
consolidado_kantar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192515 entries, 0 to 1705
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Data                   192515 non-null  object
 1   Produto                192515 non-null  object
 2   Veículo                192515 non-null  object
 3   Descrição da Campanha  192305 non-null  object
 4   Formato                192515 non-null  object
 5   Investimento           126892 non-null  object
 6   Impressões             112015 non-null  float64
 7   Cliques no link        98325 non-null   float64
 8   Video Views            126974 non-null  float64
 9   Views 100%             127005 non-null  float64
dtypes: float64(4), object(6)
memory usage: 16.2+ MB

In [ ]:
## contando valores null
print(consolidado_kantar[consolidado_kantar['Investimento'].isnull()])

            Data         Produto  ... Video Views Views 100%
45    2021-08-02       Consórcio  ...         nan        nan
46    2021-08-02       Consórcio  ...         nan        nan
47    2021-08-02       Consórcio  ...         nan        nan
48    2021-08-02       Consórcio  ...         nan        nan
49    2021-08-02       Consórcio  ...         nan        nan
...          ...             ...  ...         ...        ...
1701  11/15/2021  Rede Normativa  ...         nan        nan
1702  11/16/2021  Rede Normativa  ...         nan        nan
1703  11/17/2021  Rede Normativa  ...         nan        nan
1704  11/19/2021  Rede Normativa  ...         nan        nan
1705  11/22/2021  Rede Normativa  ...         nan        nan

[65623 rows x 10 columns]

In [ ]:
consolidado_kantar['Investimento'] = pd.to_numeric(consolidado_kantar['Investimento'], errors='coerce')

In [ ]:
## excluindo valores faltantes 
consolidado_kantar = consolidado_kantar.dropna(subset=['Investimento'])

In [ ]:
consolidado_kantar['Investimento'] = pd.to_numeric(consolidado_kantar['Investimento'])

In [ ]:
## tranformando em float
consolidado_kantar['Investimento'] = consolidado_kantar['Investimento'].apply(lambda x: str(x).replace('.', ','))

In [ ]:
consolidado_kantar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123589 entries, 0 to 1563
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Data                   123589 non-null  object
 1   Produto                123589 non-null  object
 2   Veículo                123589 non-null  object
 3   Descrição da Campanha  123589 non-null  object
 4   Formato                123589 non-null  object
 5   Investimento           123589 non-null  object
 6   Impressões             108470 non-null  float64
 7   Cliques no link        94780 non-null   float64
 8   Video Views            123429 non-null  float64
 9   Views 100%             123460 non-null  float64
dtypes: float64(4), object(6)
memory usage: 10.4+ MB

In [ ]:
consolidado_kantar.head()

         Data    Produto    Veículo  ... Cliques no link Video Views Views 100%
0  2021-11-11  Consórcio  Instagram  ...            1.00       17.00       9.00
1  2021-11-11  Consórcio  Instagram  ...           50.00      668.00     213.00
2  2021-11-11  Consórcio  Instagram  ...            0.00        5.00       3.00
3  2021-11-11  Consórcio  Instagram  ...            3.00       35.00      15.00
4  2021-11-12  Consórcio  Instagram  ...            0.00       19.00       3.00

[5 rows x 10 columns]

In [ ]:
#consolidado_kantar.to_csv('consolidado_kantar.csv',sep='\t', encoding="utf-8")
#pd.set_option('float_format', '{:.2f}'.format)

In [ ]:
consolidado_kantar.to_csv('consolidado_kantar_a.csv',float_format='%.f', index=False, header=True)
#df.to_csv('test.out', float_format = '%.2f', index = False, header = False)