<a href="https://colab.research.google.com/github/JoyDantas/Estudos_Colab/blob/main/Itaucard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!pip install --upgrade gspread ## atualizando o pacote

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
itaucard = gc.open("Itaú Institucional | Itaucard | 2021")

In [ ]:
itaucard_wkb = itaucard.worksheet('Workbook')

In [ ]:
## transformando e data frame 

df_itaucard = pd.DataFrame(itaucard_wkb.get_all_records())

In [ ]:
# selecionando colunas

df_itaucard_selecionadas = df_itaucard.filter(['Data', 'Produto', 'Veículo', 'Descrição da Campanha',
                                                 'Formato', 'Investimento', 'Impressões', 'Cliques no link', 'Video Views', 'Views 100%'])

In [ ]:
df_itaucard_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9929 entries, 0 to 9928
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   9929 non-null   object
 1   Produto                9929 non-null   object
 2   Veículo                9929 non-null   object
 3   Descrição da Campanha  9929 non-null   object
 4   Formato                9929 non-null   object
 5   Investimento           9929 non-null   object
 6   Impressões             9929 non-null   object
 7   Cliques no link        9929 non-null   object
 8   Video Views            9929 non-null   object
 9   Views 100%             9929 non-null   object
dtypes: object(10)
memory usage: 775.8+ KB

In [ ]:
## trocando formato dos dados

df_itaucard_selecionadas['Impressões'] = pd.to_numeric(df_itaucard_selecionadas['Impressões'])
df_itaucard_selecionadas['Investimento'] = pd.to_numeric(df_itaucard_selecionadas['Investimento'])
df_itaucard_selecionadas['Cliques no link'] = pd.to_numeric(df_itaucard_selecionadas['Cliques no link'])
df_itaucard_selecionadas['Video Views'] = pd.to_numeric(df_itaucard_selecionadas['Video Views'])
df_itaucard_selecionadas['Views 100%'] = pd.to_numeric(df_itaucard_selecionadas['Views 100%'])

In [ ]:
df_itaucard_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9929 entries, 0 to 9928
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   9929 non-null   object
 1   Produto                9929 non-null   object
 2   Veículo                9929 non-null   object
 3   Descrição da Campanha  9929 non-null   object
 4   Formato                9929 non-null   object
 5   Investimento           4331 non-null   float64
 6   Impressões             4337 non-null   float64
 7   Cliques no link        4337 non-null   float64
 8   Video Views            4246 non-null   float64
 9   Views 100%             4246 non-null   float64
dtypes: float64(5), object(5)
memory usage: 775.8+ KB

In [ ]:
## selecionando veiculo
selecionadas_g = df_itaucard_selecionadas.loc[(df_itaucard_selecionadas["Veículo"] == "google-ads")]
selecionadas_f = df_itaucard_selecionadas.loc[(df_itaucard_selecionadas["Veículo"] == "facebook")]                                          
selecionadas_i = df_itaucard_selecionadas.loc[(df_itaucard_selecionadas["Veículo"]== "instagram")]
selecionadas_y = df_itaucard_selecionadas.loc[(df_itaucard_selecionadas["Veículo"]== "youtube")]

In [ ]:
concat_g_f_i_y = [selecionadas_i,selecionadas_g,selecionadas_f,selecionadas_y]
concat_g_f_i_y = pd.concat(concat_g_f_i_y)

In [ ]:
concat_g_f_i_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5937 entries, 7 to 6656
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   5937 non-null   object
 1   Produto                5937 non-null   object
 2   Veículo                5937 non-null   object
 3   Descrição da Campanha  5937 non-null   object
 4   Formato                5937 non-null   object
 5   Investimento           3595 non-null   float64
 6   Impressões             3595 non-null   float64
 7   Cliques no link        3595 non-null   float64
 8   Video Views            3595 non-null   float64
 9   Views 100%             3595 non-null   float64
dtypes: float64(5), object(5)
memory usage: 510.2+ KB

In [ ]:
# Tratamento taxonomia
# primeiro selecionando os resultados

concat_g_f_i_y.loc[(concat_g_f_i_y["Produto"] == "_nao-se-aplica")]

            Data         Produto  ... Video Views Views 100%
553    3/10/2021  _nao-se-aplica  ...      1504.0      393.0
568    3/11/2021  _nao-se-aplica  ...      1200.0      266.0
583    3/12/2021  _nao-se-aplica  ...      4714.0     1261.0
598    3/13/2021  _nao-se-aplica  ...      5437.0     1390.0
613    3/14/2021  _nao-se-aplica  ...      6005.0     1567.0
...          ...             ...  ...         ...        ...
6633  11/20/2021  _nao-se-aplica  ...         NaN        NaN
6634  11/20/2021  _nao-se-aplica  ...         NaN        NaN
6643  11/21/2021  _nao-se-aplica  ...         NaN        NaN
6644  11/21/2021  _nao-se-aplica  ...         NaN        NaN
6651  11/22/2021  _nao-se-aplica  ...         NaN        NaN

[2887 rows x 10 columns]

In [ ]:

# replace produto
itaucard_tratado = concat_g_f_i_y.replace(["Produto", "_nao-se-aplica"], "Itaucard")

In [ ]:
itaucard_tratado.head()

        Data           Produto  ... Video Views Views 100%
7   2/1/2021  cartoes-itaucard  ...         0.0        0.0
9   2/2/2021  cartoes-itaucard  ...         0.0        0.0
13  2/2/2021  cartoes-itaucard  ...      2263.0      857.0
14  2/2/2021  cartoes-itaucard  ...      7443.0     2681.0
15  2/2/2021  cartoes-itaucard  ...      1178.0      458.0

[5 rows x 10 columns]

In [ ]:
#itaucard_tratado.loc[(concat_g_f_i["Produto"] == "(not set)")]

In [ ]:
#itaucard_tratado = concat_g_f_i.replace(["Produto", "(not set)"], "Crédito Imobiliário")

In [ ]:
#concat_g_f_i.loc[(concat_g_f_i["Produto"] == "ip-investimentos")]

In [ ]:
#itaucard_tratado = concat_g_f_i.replace(["Produto", "ip-investimentos"], "Investimentos")

In [ ]:
#itaucard_tratado.head()

In [ ]:
# tratando o veículo

itaucard_tratado = itaucard_tratado.replace(["Veículo", "facebook"], "Facebook")
itaucard_tratado = itaucard_tratado.replace(["Veículo", "google-ads"], "Google-ads")
itaucard_tratado = itaucard_tratado.replace(["Veículo", "instagram"], "Instagram")
itaucard_tratado = itaucard_tratado.replace(["Veículo", "youtube"], "Youtube")

In [ ]:
itaucard_tratado.groupby('Veículo').count()

            Data  Produto  ...  Video Views  Views 100%
Veículo                    ...
Facebook    2092     2092  ...         1293        1293
Google-ads  2231     2231  ...         1432        1432
Instagram    658      658  ...          623         623
Youtube      956      956  ...          247         247

[4 rows x 9 columns]

In [ ]:
# exportando para excel 
itaucard_tratado.to_excel("itaucard.xls",index=False)

In [ ]:
# exportando para csv 
#itaucard_tratado.to_csv("investimento_mar.xls",sep='\t',encoding="utf-8")